body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    text-align: center;
}

.container {
    padding: 50px;
}

h1 {
    font-size: 40px;
}

.highlight {
    color: #ff4fd8;
}

.upload-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    margin: auto;
}

button {
    background: #4a7cff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.result {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}